<div class="form-container">
  <form [formGroup]="range" (ngSubmit)="OnSubmit()">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Titre</mat-label>
      <input
        matInput
        name="titre"
        formControlName="titre"
        placeholder="IEEEXtreme16"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Enter a date range</mat-label>
      <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
        <input
          matStartDate
          formControlName="dateDebut"
          placeholder="Start date"
        />
        <input matEndDate formControlName="dateFin" placeholder="End date" />
      </mat-date-range-input>
      <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-date-range-picker #picker></mat-date-range-picker>
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Lieu</mat-label>
      <input matInput name="lieu" formControlName="lieu" placeholder="Sfax" />
    </mat-form-field>
    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-fab extended color="primary" type="submit">
        <mat-icon>change_history</mat-icon>
        Submit
      </button>
    </div>
  </form>
</div>
