:host {
  margin-top: -2.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.5vh;
  background: linear-gradient(to bottom right, #a8bbff, #2196F3);
}


.example-form-container {
  width: 800px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}
.form-row {
  display: flex;
  flex-wrap: wrap; /* Allow form rows to wrap to the next line if needed */
  gap: 20px; /* Adjust the gap between form fields */
  margin-bottom: 15px; /* Adjust the margin between form rows */
}
.text-align-center{
  text-align: center;
}
.submit-button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px; /* Adjust the margin at the top of the submit button */
}
.centered-form-field {
  display: flex;
  justify-content: center;
}
