<!-- https://tburleson-layouts-demos.firebaseapp.com/#/docs -->
<!-- flex layout demo -->
<!-- auth guard (bech baad manaamel login maach tjini el page login) -->
<div  class="placement-of-header">
<mat-toolbar class="transparent-bg">
  <button mat-icon-button class="example-icon">
    <mat-icon>home</mat-icon>
  </button>
  <span>Dashboard</span>
  <span class="example-spacer"></span>
  <mat-card-content>Overview</mat-card-content>
  <button mat-icon-button class="example-icon" >
    <mat-icon>error_outline</mat-icon>
  </button>
</mat-toolbar></div>
<div fxLayout="row" fxLayoutAlign="center space-evenly"  >

  <mat-card class="members-card">
    <mat-card-header >
      <mat-card-title class="send-right">
         Members
      </mat-card-title>
      <mat-icon>people</mat-icon>
    </mat-card-header>
    <mat-card-content><br> <h1>{{nb_members}}</h1></mat-card-content>
  </mat-card>

  <mat-card class="articles-card">
    <mat-card-header  >
      <mat-card-title class="send-right">Articles 	</mat-card-title>
      <mat-icon>slow_motion_video</mat-icon>
    </mat-card-header>
    <mat-card-content><br> <h1>{{nb_articles}}</h1></mat-card-content>
  </mat-card>

  <mat-card class="tools-card">
    <mat-card-header  >
      <mat-card-title class="send-right">Tools </mat-card-title>
      <mat-icon>spa</mat-icon>
    </mat-card-header>
    <mat-card-content><br> <h1>{{nb_tools}}</h1></mat-card-content>
  </mat-card>

  <mat-card class="events-card">
    <mat-card-header  >
      <mat-card-title class="send-right">Events</mat-card-title>
      <mat-icon>date_range</mat-icon>
    </mat-card-header>
    <mat-card-content><br> <h1>{{nb_events}}</h1></mat-card-content>
  </mat-card>
</div>
<div fxLayout="row" fxLayoutAlign="space-evenly center" class="margin-top"  >


  <div class="chart-wrapper chart-details ">
    <canvas baseChart
            [type]="'pie'"
      [datasets]="etablissementTypeData"
      [labels]="etablissementTypesLabel"

      >
    </canvas>
  </div>
  

  <div class="chart-wrapper chart-details ">
    <canvas baseChart
            [type]="'radar'"
      [datasets]="radarChartData"
      [labels]="radarChartLabels"
      [options]="radarChartOptions"

      >
    </canvas>
  </div>
  <div class="chart-wrapper chart-details ">
    <canvas baseChart
            [type]="'pie'"
      [datasets]="chartTypeData"
      [labels]="chartTypesLabel"

      >
    </canvas>
  </div>

</div>
<div fxLayout="row" fxLayoutAlign="space-evenly center" class="margin-top ">
  <div class="chart-details2 bar-dimensions ">
  <div class="chart-wrapper  text-center ">
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [plugins]="barChartPlugins"
      [legend]="barChartLegend"
      [type]="'bar'">
    </canvas>
    <h3 class="mt-3">Nombre d'évennements pendants les 12 mois de l'année 2020 à 2023</h3>
  </div>
  </div>
  <div class="chart-wrapper chart-details2 line-dimensions ">
  <canvas baseChart
            [type]="'line'"
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      >
    </canvas>
  </div>

</div>
