:host {
  margin-top: -2.2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90.5vh;
  background: linear-gradient(to bottom right,#425cb8 , #a8bbff);
}


.example-form-container {
  width: 800px;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Adjust if needed */
}


.text-align-center{
  text-align: center;
}
.example-form {
  width: 80%;
  /* Adjust the width of the form container */
}

.form-row {
  display: flex;
  gap: 20px;
  /* Adjust the gap between form fields */
  margin-bottom: 15px;

  /* Adjust the margin between form rows */

}
    .submit-button-container {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    /* Adjust the margin at the top of the submit button */
  }
