
<div class="example-form-container">
    <h1 class="text-align-center">Nouveau Etudiant</h1>
  <form [formGroup]="form" (ngSubmit)="OnSubmit()" class="example-form">

    <div class="form-row">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>CIN</mat-label>
        <input matInput name="cin" formControlName="cin" placeholder="11143786" [value]="form.get('cin')?.value" >
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Nom</mat-label>
        <input matInput name="nom" formControlName="nom" placeholder="John" [value]="form.get('nom')?.value" >
      </mat-form-field>



      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Prénom</mat-label>
        <input matInput name="prenom" formControlName="prenom" placeholder="Whick" [value]="form.get('prenom')?.value" >
      </mat-form-field>
    </div>
    <div class="form-row">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Date de naissance</mat-label>
        <input matInput formControlName="dateNaissance" [matDatepicker]="pickerDateNaissance" [value]="form.get('dateNaissance')?.value | date:'yyyy-MM-dd'">
        <mat-datepicker-toggle matIconSuffix [for]="pickerDateNaissance"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateNaissance></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Date d'inscription</mat-label>
        <input matInput formControlName="dateInscription" [matDatepicker]="pickerDateInscription" [value]="form.get('dateInscription')?.value | date:'yyyy-MM-dd'">
        <mat-datepicker-toggle matIconSuffix [for]="pickerDateInscription"></mat-datepicker-toggle>
        <mat-datepicker #pickerDateInscription></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="form-row">
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>CV</mat-label>
        <input matInput name="cv" formControlName="cv" placeholder="facebook.com/dali.mnassar"
          [value]="form.get('cv')?.value">
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Diplôme</mat-label>
        <input matInput name="diplome" formControlName="diplome"  [value]="form.get('diplome')?.value" >
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width">
        <mat-label>Sujet</mat-label>
        <input matInput name="sujet" formControlName="sujet"  [value]="form.get('sujet')?.value" >
      </mat-form-field>
    </div>



    <div fxLayout="row" fxLayoutAlign="space-evenly center">
      <button mat-fab extended color="primary" type="submit">
        <mat-icon>change_history</mat-icon>
        Submit
      </button>
    </div>

  </form>
</div>
